/* Extra small devices (portrait phones, less than 576px)
   This is the default in Bootstrap */
@media (max-width: 576px) {
    .large-screen{
        display: none;
    }
    html{
        font-size: 65%;
    }
    p, figcaption {
        font-size: 1.4rem;
    }
    nav a {
        font-size: 1.5rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
   .large-screen{
    display: none;
   }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .large-screen{
        display: block;
    }
    .small-screen{
        display: none;
    }
    html{
        font-size: 100%;
    }
    img[alt="logo"] {
        bottom: 5px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}
